<div class="pt-5">
  <div class="max-h-120 overflow-y-auto shadow space-y-4">
    <% comments.each do |comment| %>
      <!-- turbo_streamで必要なid設定 -->
      <div id="comment-<%= comment.id %>"class="flex items-start p-4 bg-white rounded shadow-sm ">
        <!-- ユーザーのアバター画像 -->
        <div class="w-12 h-12 rounded-full overflow-hidden mr-2">
          <%= image_tag comment.user.avatar.url.presence || asset_path('default_image.png'), class: 'w-full h-full object-cover' %>
        </div>
        <!-- ユーザー名+コメント+削除ボタン -->
        <div class="flex items-center justify-between w-full">
          <!-- ユーザー名とコメント部分を縦に並べる -->
          <div class="flex flex-col flex-1">
            <span><%= comment.user.nickname %></span>
            <!-- コメント本文をユーザー名の下に表示 -->
            <p class="mt-1 text-sm break-words whitespace-pre-wrap max-w-full"><%= comment.body %></p>
          </div>
          <!-- 削除ボタン -->
          <% if current_user&.own?(comment) %>
            <%= link_to '削除', comment_path(comment), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: 'text-red-500 hover:text-red-700' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>