<!-- 投稿編集ページ　-->
<div>
  <div class="flex">
    <h1 class="hidden lg:block text-2xl p-10 ">投稿編集</h1>
    <div class="pt-10 px-4 rounded-lg mx-10">
      <%= form_with model: @post do |f| %>
      <div class="flex flex-col lg:flex-row items-start gap-8 ">
        <div class="text-2xl lg:hidden flex flex-col">新規投稿</div>
        <!-- タグ -->
        <div class="flex flex-col">
          <%= f.label :tag_id, "タグ", class: "text-2xl mb-6" %>
          <div class="text-xl text-white <%= tag_color_class(@post.tag.name) %> w-[180px] h-[40px] rounded-xl flex items-center justify-center ">
            <%= @post.tag.name %>
          </div>
        </div>

        <!-- タイトル -->
        <div class="flex flex-col">
          <%= f.label :title, "タイトル", class: "text-2xl block mb-6" %> 
          <%= f.text_field :title, class: 'border  w-[300px] lg:w-[440px] h-[40px] rounded-md' %>
        </div>
      </div>

      <!-- スコア記録　ポリモーフィック -->
      <%= f.fields_for :postable do |pf| %>
        <div class="mb-4">
          <%= pf.label :driving_range_name, "練習場名", class: "text-2xl block mb-6" %> 
          <%= pf.text_area :driving_range_name, class: 'border w-full md:w-[440px] h-[40px] rounded-md' %>
        </div>
        <div class="mb-4">
          <%= pf.label :practice_hour, "練習時間", class: "text-2xl block mb-6" %>
          <%= pf.number_field :practice_hour, class: 'border w-full md:w-[440px] h-[40px] rounded-md'%>
        </div>
        <div class="mb-4">
          <%= pf.label :ball_count, "球数", class: "text-2xl block mb-6"%>
          <%= pf.number_field :ball_count, class: 'border w-full md:w-[440px] h-[40px] rounded-md'%>
        </div>
        <div class="mb-4">
          <%= pf.label :effort_focus, "意識して取り組んだこと", class: "text-2xl block mb-6"%>
          <%= pf.text_area :effort_focus, class: 'border w-full md:w-[440px] h-[40px] rounded-md'%>
        </div>
        <div class="mb-4">
          <%= pf.label :video_reference, "参考にした動画", class: "text-2xl block mb-6"%>
          <%= pf.text_field:video_reference, class: 'border w-full md:w-[440px] h-[40px] rounded-md'%>
        </div>
      <% end %>

      <!-- 画像のアップロード -->
      <div class="mb-4">
        <%= f.label :image, "画像", class: "text-2xl block mb-6"%>

        <%= f.file_field :image, accept: 'image/jpeg,image/png,image/gif,image/heic', class: "custom-file-input rounded-md"%>
      </div>
      
      <!-- 編集ボタン -->
      <div class="mb-4 flex justify-center">
        <%= f.submit "編集", class: 'hover:bg-green-500 transition-all duration-300 w-[110px] h-[80p] py-2 bg-green-600 text-white rounded-md ' %>
      </div>
      <% end %>
    </div>
  </div>
</div>