<% visitor = notification.visitor %>

<div class="flex items-center gap-4 border-b py-3">
  <!-- アバター -->
  <div class="avatar">
    <div class="w-12 rounded-full">
      <%= image_tag(visitor.avatar.present? ? visitor.avatar.url : "avatar_sample.webp",alt: visitor.nickname,class: "object-cover") %>
    </div>
  </div>

  <!-- 通知内容 -->
  <div class="flex-1 relative">
    <div>
      <%= link_to(visitor.nickname.presence || "#{visitor.last_name}#{visitor.first_name}",user_path(visitor),class: "font-bold text-blue-500") %>さんが
      <% if notification.action == "like" %>
        <%= link_to "あなたの投稿",post_path(notification.post),class: "font-bold text-emerald-500" %>にいいねしました
      <% else %>
        <%= link_to "あなたの投稿",post_path(notification.post),class: "font-bold text-emerald-500" %>にコメントしました
        <div class="mt-1 text-sm text-gray-500">
          <%= notification.comment&.body %>
        </div>
      <% end %>
    </div>
    <!-- 時間の表記 -->
    <div class="absolute bottom-0 right-0 text-xs ">
      <%= time_ago_in_words(notification.created_at) %>
    </div>
  </div>
</div>
