<!-- ユーザーマイページshow -->
<div class="max-w-7xl mx-auto p-12 lg:p-6">
  <h2 class="text-2xl font-bold mb-4">マイページ</h2>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
    <div class="space-y-4">
      <!-- アバターとニックネーム、メールアドレスを横並びに配置 -->
      <div class="flex flex-col sm:flex-row sm:items-center sm:space-x-4 space-y-4">
        <!-- アバター画像を円形で表示 -->
        <div class="w-24 h-24 rounded-full overflow-hidden flex justify-center items-center">
          <%= image_tag @user.avatar.url.presence || asset_path('avatar_sample'), class: "w-full h-full object-cover" %>
        </div>
        <!-- ニックネームとメールアドレスを縦に並べる -->
        <div class="flex flex-col space-y-2">
          <!-- ニックネーム -->
          <div>
            <div class="font-bold text-xl">ニックネーム</div>
            <div class="w-full px-4 py-2 border border-gray-300 rounded-lg min-h-[40px]">
              <%= @user.nickname %>
            </div>
          </div>
          <!-- 名前 -->
          <div>
            <div class="font-bold text-xl">名前</div>
            <div class="w-full px-4 py-2 border border-gray-300 rounded-lg min-h-[40px]">
              <%= @user.decorate.full_name %>
            </div>
          </div>
          <!-- メールアドレス -->
          <div>
            <div class="font-bold text-xl">メールアドレス</div>
            <div class="w-full px-4 py-2 border border-gray-300 rounded-lg min-h-[40px]">
              <% if current_user&.id == @user.id %>
                <%= @user.email %>
              <% else %>
                <span class="text-gray-400">非公開</span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div>
        <%= link_to user_golf_gear_path(@user), class: 'flex items-center text-blue-500 hover:text-blue-700 space-x-2' do %>
          <i class="fas fa-golf-ball"></i>
          <span class="font-bold text-xl"><%= @user.nickname %>のゴルフギア</span>
        <% end %>
      </div>
      <!-- 自己紹介 -->
      <div>
        <div class="font-bold text-xl">自己紹介</div>
        <div class="w-full px-4 py-2 border border-gray-300 rounded-lg h-[120px] lg:h-[200px] overflow-y-auto">
          <%= @user.self_introduction.presence || "未設定" %>
        </div>
      </div>
    </div>
    <!-- 真ん中のカラム -->
    <div class="space-y-4">
      <div class="font-bold text-xl">よく行くゴルフ場</div>
            <!-- よく行くゴルフ場の県　-->
      <div class="w-full px-4 py-2 border border-gray-300 rounded-lg min-h-[40px]">
        <%= @user.prefecture&.name || "未設定" %>
      </div>
      <div class="w-full px-4 py-2 border border-gray-300 rounded-lg min-h-[40px]">
        <%= @user.favorite_course.presence || "未設定" %>
      </div>
      <div class="font-bold text-xl">よく行く練習場</div>
      <div class="w-full px-4 py-2 border border-gray-300 rounded-lg min-h-[40px]">
        <%= @user.favorite_driving_range.presence || "未設定" %>
      </div>
      <!-- 練習場のタイプと金額を横並びに -->
      <div class="flex space-x-4">
        <div class="w-full">  
          <div class="font-bold text-xl">練習場のタイプ</div>
          <div class="w-full px-4 py-2 border border-gray-300 rounded-lg min-h-[40px]">
            <%= @user.driving_range_type.presence || "未設定" %>
          </div>
        </div>
        <div class="w-full">
          <div class="font-bold text-xl">金額</div>
          <div class="w-full px-4 py-2 border border-gray-300 rounded-lg min-h-[40px]">
            <%= @user.driving_range_price.presence || "未設定" %>
        </div>
        </div>
      </div>
    </div>
    <!-- 右側のカラム -->
    <div class="space-y-4">
      <div class="font-bold text-xl">ベストスコア</div>
      <div class="w-full px-4 py-2 border border-gray-300 rounded-lg min-h-[40px]">
        <%= @user.best_score.presence || "未設定" %>
      </div>
      <div class="font-bold text-xl">ベストスコアを出したコース</div>
      <div class="w-full px-4 py-2 border border-gray-300 rounded-lg min-h-[40px]">
        <%= @user.best_score_course.presence || "未設定" %>
      </div>
      <!-- 参考にしているユーチューバー -->
      <div>
        <div class="font-bold text-xl">参考にしているユーチューバー</div>
        <div class="w-full px-4 py-2 border border-gray-300 rounded-lg min-h-[40px]">
          <%= @user.favorite_video_creator.presence || "未設定" %>
        </div>
      </div>
    </div>
  </div>
  <% if current_user == @user %>
    <!-- 更新ボタン -->
    <div class="mt-20 text-center">
      <%= link_to "プロフィールを編集する", edit_user_path(@user), class: "px-6 py-2 bg-green-500 text-white rounded-lg hover:bg-green-600" %>
    </div>
  <% end %>
</div>