<footer class="bg-green-500 p-4 mt-8">
  <%# 640以下で縦並び %>
  <div class="container flex flex-col sm:flex-row justify-between items-center mx-auto text-center space-y-4 sm:space-y-0">
    <div class="flex space-x-4">
      <%= link_to 'TOPへ', root_path, class: 'text-white hover:text-black' %>
      <div class="tooltip" data-tip="近々実装予定です！！！">
        <%= link_to '練習記録', '#', class: 'text-white hover:text-black'%>
      </div>
    </div>
    <div class="flex space-x-4">
      <%= link_to t("header.contact"), "https://forms.gle/yhsshkVHfGSV8ruXA",  class: 'text-white hover:text-black'%>
      <%= link_to 'プライバシーポリシー', page_path('privacy_policy'), class: 'text-white hover:text-black'%>
      <%= link_to '利用規約', page_path('terms'), class: 'text-white hover:text-black'%>
    </div>
  </div>
</footer>
