<footer class="bg-green-500 p-4 mt-8">
  <div class="container flex justify-between items-center mx-auto">
    <div class="flex space-x-4 mx-auto">
      <%= link_to 'ホーム', root_path, class: 'text-white hover:text-black' %>
      <%= link_to '投稿一覧', posts_path, class: 'text-white hover:text-black' %>
      <%= link_to '新規投稿', new_post_path , class: 'text-white hover:text-black' %>
      <%= link_to 'マイページ', user_path(current_user), class: 'text-white hover:text-black' %>
      <%= link_to 'いいねした投稿', likes_posts_path, class: 'text-white hover:text-black'%>
      <% if current_user.golf_gear.present? %>
        <!-- すでに登録済みなら編集画面へ -->
        <%= link_to "私のゴルフギアを編集", edit_user_golf_gear_path(current_user),
                    class: "text-white hover:text-black" %>
      <% else %>
        <!-- 未登録なら登録画面へ -->
        <%= link_to "私のゴルフギア登録", new_user_golf_gear_path(current_user),
                    class: "text-white hover:text-black" %>
      <% end %>
    </div>
    <div class="text-right">
      <%= link_to '練習記録', '#', class: 'text-white hover:text-black' %>
    </div>
  </div>
</footer>