<footer class="bg-green-500 p-4 mt-8">
  <div class="container flex justify-between items-center mx-auto">
    <div class="flex space-x-4 mx-auto">
      <%= link_to 'ホーム', root_path, class: 'text-white hover:text-black' %>
      <%= link_to '投稿一覧', posts_path, class: 'text-white hover:text-black' %>
      <%= link_to '新規投稿', new_post_path , class: 'text-white hover:text-black' %>
      <%= link_to 'マイページ', user_path(current_user), class: 'text-white hover:text-black' %>
    </div>
    <div class="text-right">
      <%= link_to '練習記録', '#', class: 'text-white hover:text-black' %>
    </div>
  </div>
</footer>