<footer class="bg-green-500 text-white p-4 mt-8">
  <div class="container flex flex-col sm:flex-row justify-between items-center mx-auto text-center space-y-4 sm:space-y-0">

    <!-- 左カラム -->
    <div class="flex space-x-4">
      <%= link_to 'プライバシーポリシー', page_path('privacy_policy'), class: 'hover:text-black' %>
      <%= link_to '利用規約', page_path('terms'), class: 'hover:text-black' %>
      <%= link_to t("header.contact"), "https://forms.gle/yhsshkVHfGSV8ruXA", class: 'hover:text-black' %>
    </div>

    <!-- 中央カラム -->
    <div class="flex space-x-4 justify-center">
      <%= link_to 'ゴルフ入門', page_path('golf_start'), class: "flex flex-col items-center hover:text-black" %>
    </div>

    <!-- 右カラム -->
    <div class="flex space-x-4 justify-end">
      <div class="tooltip" data-tip="近々実装予定です！！！">
        <%= link_to '練習記録', '#', class: 'text-white hover:text-black'%>
      </div>
      <% if current_user.golf_gear.present? %>
        <%= link_to "私のゴルフギアを編集", edit_user_golf_gear_path(current_user), class: 'hover:text-black' %>
      <% else %>
        <%= link_to "私のゴルフギア登録", new_user_golf_gear_path(current_user), class: 'hover:text-black' %>
      <% end %>
    </div>

  </div>
</footer>
