<header class="bg-green-500 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-white text-2xl">More Golf</div>
    <!-- ゴルフ画像のイメージを追加　-->
    <%#= image_tag "", alt: "" %>
      <div class="flex space-x-4">
        <p class="hidden md:flex items-center text-white">ログイン中: <%= current_user.decorate.full_name %></p>
        <div class="flex space-x-6 text-white" >
          <!-- ホーム -->
          <%= link_to root_path, class: 'flex flex-col items-center hover:text-black' do %>
            <i class="fa-solid fa-house text-lg sm:text-xl md:text-2xl"></i>
            <span class="mt-1 text-xs sm:text-sm md:text-base">ホーム</span>
          <% end %>
          <!-- 新規投稿 -->
          <%= link_to new_post_path, class: 'flex flex-col items-center hover:text-black' do %>
            <i class="fa-solid fa-pen-to-square text-2xl"></i>
            <span class="mt-1 text-xs sm:text-sm md:text-base">新規投稿</span>
          <% end %>
          <!-- 投稿一覧 -->
          <%= link_to  posts_path, class: 'flex flex-col items-center hover:text-black' do %>
            <i class="fa-solid fa-list text-lg sm:text-xl md:text-2xl"></i>
            <span class="mt-1 text-xs sm:text-sm md:text-base">投稿一覧</span>
          <% end %>
          <!-- いいねした記事 -->
          <%= link_to  likes_posts_path, class: 'flex flex-col items-center hover:text-black' do %>
            <i class="fa-solid fa-heart text-lg sm:text-xl md:text-2xl"></i>
            <span class="mt-1 text-xs sm:text-sm md:text-base">いいねした投稿</span>
          <% end %>
          <!-- マイページ -->
          <%= link_to user_path(current_user), class: "flex flex-col items-center hover:text-black" do %>
            <i class="fas fa-user text-lg sm:text-xl md:text-2xl"></i>
            <span class="mt-1 text-xs sm:text-sm md:text-base">マイページ</span>
          <% end %>
          <!-- ログアウト -->
          <%= button_to logout_path,
              method: :delete,
              form: { data: { turbo: false } },
              class: "flex flex-col items-center hover:text-black" do %>
            <i class="fas fa-sign-out-alt text-lg sm:text-xl md:text-2xl"></i>
            <span class="mt-1 text-xs sm:text-sm md:text-base">ログアウト</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>