<!-- 質問・その他用フォーム（Postの本文と画像のみ） -->
<div class="mb-4">
  <%= f.label :body, "本文", class: "text-2xl block mb-6" %>
  <%= f.text_area :body, class: 'border w-full h-[140px] rounded-md' %>
</div>
<p class="text-xl">画像または動画どちらか一つのみ投稿できます</p>
<div class="flex mb-4">
  <!-- 画像 -->
  <div class="mr-4">
    <%= f.label :image, "画像", class: "text-2xl block mb-2" %>
    <%= f.file_field :image, accept: 'image/jpeg,image/png,image/gif,image/heic', 
                              class: "custom-file-input" %>
  </div>

  <!-- 動画 -->
  <div>
    <%= f.label :video, "動画", class: "text-2xl block mb-2" %>
    <%= f.file_field :video, accept: 'video/mp4,video/quicktime,video/x-msvideo,video/webm', 
                              class: "custom-file-input" %>
  </div>
</div>


