<!-- ScoreRecord のフィールド -->
<div class="mb-4">
  <%= score_form.label :course_name, "コース名", class: "block mb-2 text-xl" %>
  <%= score_form.text_field :course_name, class: "border w-full lg:w-[440px] h-[40px]" %>
</div>

<div class="mb-4">
  <%= score_form.label :score, "スコア", class: "block mb-2 text-xl" %>
  <%= score_form.number_field :score, class: "border w-full lg:w-[440px] h-[40px]" %>
</div>

<!-- Post の共通フィールド -->
<div class="mb-4">
  <%= post_form.label :body, "本文", class: "text-2xl block mb-6" %>
  <%= post_form.text_area :body, class: "border w-full lg:w-[700px] h-[140px]" %>
</div>

<div class="mb-4">
  <%= post_form.label :image, "画像", class: "text-2xl block mb-6" %>
  <%= post_form.file_field :image, accept: 'image/jpeg,image/png,image/gif,image/heic', class: "custom-file-input" %>
</div>