<div class="flex justify-center my-4 px-2">
  <%= search_form_for @q, url: url,
        html: { class: "flex flex-col md:flex-row gap-2 w-full max-w-3xl" } do |f| %>

    <!-- タグ -->
    <%= f.select :tag_id_eq,
      Tag.pluck(:name, :id),
      { prompt: "タグを選択" },
      class: "border border-gray-300 rounded-md px-4 py-2 w-full md:w-40 text-xs sm:text-sm focus:outline-none focus:ring-2 focus:ring-blue-400" %>

    <!-- タイトル -->
    <div class="relative w-full md:w-50 lg:w-80">
      <%= f.search_field :title_or_body_cont,
      # オートコンプリート用ID
        id: "autocomplete-input",
        class: "border border-gray-300 rounded-md px-4 py-2 w-full md:w-50 lg:w-80 text-xs sm:text-sm focus:outline-none focus:ring-2 focus:ring-blue-400",
        placeholder: 'タイトルまたは本文で検索' %>

      <ul id="autocomplete-results"
        class="bg-white border border-gray-300 mt-1 max-h-60 overflow-y-auto rounded-md shadow-md absolute z-50 w-full hidden text-sm">
      </ul>
    </div>
    <!-- ニックネーム -->
    <%= f.search_field :user_nickname_cont,
      class: "border border-gray-300 rounded-md px-4 py-2 w-full md:w-45 text-xs sm:text-sm focus:outline-none focus:ring-2 focus:ring-blue-400",
      placeholder: 'ニックネームで検索' %>

    <!-- ボタン部分 -->
    <div class="flex flex-row gap-2 w-full justify-center md:w-auto md:justify-between">
      <%= f.submit '検索',
        class: "bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded-md text-xs w-[100px] md:w-20" %>
      <%= link_to "リセット", url,
        class: "bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded-md text-xs w-[100px] md:w-20 text-center" %>
    </div>

  <% end %>
</div>
