<!-- 新規投稿ページ　-->
<div>
  <div class="flex">
    <div class="pt-0 lg:pt-10 px-4 rounded-lg mx-auto w-full max-w-4xl ">
      <%= form_with model: @post, html: { multipart: true } do |f| %>
      <%= render "shared/errors_messages", object: f.object %>
      <!-- lg未満縦並び　lg以上横並び -->
      <div class="flex flex-col lg:flex-row items-left lg:items-start gap-8">
        <!-- lg未満表示 -->
        <h1 class="block lg:hidden text-2xl pt-4">新規投稿</h1>
        <!-- lg以上表示 -->
        <h1 class="hidden lg:flex flex-col text-2xl p-10 ">新規投稿</h1>
        <!-- タグ -->
        <div class="flex flex-col">
          <%= f.label :tag_id, "タグ", class: "text-2xl mb-2 " %>
          <%= f.collection_select :tag_id, Tag.all, :id, :name, { prompt: "タグ" }, { id: "tag-select", class: "border h-[40px] w-[200px] rounded-md" } %>
          <% if @post.tag.blank? %>
            <p class="text-gray-500 text-sm mt-2">タグを選択してください</p>
          <% end %>
        </div>
        <!-- タイトル -->
        <div class="flex flex-col">
          <%= f.label :title, "タイトル", class: "text-2xl mb-2" %> 
          <%= f.text_field :title, class: 'border w-full lg:w-[400px] h-[40px] rounded-md pl-2' %>
        </div>
      </div>
      
      <!-- 動的フォーム切り替え -->
      <div id="tag-specific-fields" class="lg:ml-52 mb-6 space-y-6">
        <% case @post.tag&.name %>
        <% when "スコア記録" %>
          <%= f.fields_for :postable do |postable_fields| %>
            <%= render "posts/new_form/form_score_record", post_form: f, score_form: postable_fields %>
          <% end %>
        <% when "練習記録" %>
          <%= f.fields_for :postable do |postable_fields| %>
            <%= render "posts/new_form/form_practice_record", post_form: f, practice_form: postable_fields %>
          <% end %>
        <% when "質問", "その他" %>
          <%= render "posts/new_form/form_common", f: f %>
        <% end %>
      </div>
      <!-- 投稿ボタン -->
      <div class="mb-4 flex justify-center">
        <%= f.submit "投稿", class: 'hover:bg-green-500 transition-all duration-300 w-[110px] h-[80p] py-2 bg-green-600 text-white rounded-md ', 
        data: { action: "click->loading#show" }  %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- JavaScript: タグ切り替えでリロード -->
<script>
  document.addEventListener("DOMContentLoaded", tagChangeHandler);
  document.addEventListener("turbo:load", tagChangeHandler); // ← Turbo対応

  function tagChangeHandler() {
    const tagSelect = document.getElementById("tag-select");
    if (tagSelect) {
      tagSelect.addEventListener("change", function () {
        const tagId = this.value;
        window.location.href = tagId ? `/posts/new?tag_id=${tagId}` : '/posts/new';
      });
    }
  }
</script>