<!-- ユーザーログインページ　-->
<div class="flex items-center justify-center mt-15 sm:mt-30 ">
  <div class="bg-white px-10 py-8 sm:p-8 rounded-lg shadow-lg w-full max-w-md overflow-hidden">
    <h1 class="text-2xl text-center mb-6">ログイン</h1>
    <%= form_with url: login_path do |f| %>
      <div class="mb-4">
        <%= f.label :email, "メールアドレス", class: 'block text-sm font-medium text-gray-700' %>
        <%= f.email_field :email, class: 'border rounded-md w-full p-2 text-sm' %>
      </div>
      <div class="mb-4">
        <%= f.label :password, "パスワード", class: 'block text-sm font-medium text-gray-700' %>
        <%= f.password_field :password, class: 'border rounded-md w-full p-2 text-sm' %>
      </div>
      <div class="mb-4">
        <%= f.submit "ログイン", class: 'w-full bg-green-500 hover:bg-green-600 text-white py-2 rounded-md transition-all duration-300' %>
      </div>
    <% end %>
    <div class="mt-4 text-center">
      <%= link_to 'パスワードを忘れた方', new_password_reset_path , class: 'text-sm text-blue-500 hover:underline' %>
    </div>
    <%= link_to auth_at_provider_path(:google), class: "inline-flex items-center gap-2 bg-white text-gray-700 mt-6 px-4 py-2 rounded shadow hover:bg-gray-100" do %>
      <button class="btn bg-white text-black border-[#e5e5e5]">
        <svg aria-label="Google logo" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><g><path d="m0 0H512V512H0" fill="#fff"></path><path fill="#34a853" d="M153 292c30 82 118 95 171 60h62v48A192 192 0 0190 341"></path><path fill="#4285f4" d="m386 400a140 175 0 0053-179H260v74h102q-7 37-38 57"></path><path fill="#fbbc02" d="m90 341a208 200 0 010-171l63 49q-12 37 0 73"></path><path fill="#ea4335" d="m153 219c22-69 116-109 179-50l55-54c-78-75-230-72-297 55"></path></g></svg>
        Login with Google
      </button>
    <% end %>
  </div>
</div>