<!-- ユーザーログインページ　-->
<div class="flex items-center justify-center mt-15 sm:mt-30 ">
  <div class="bg-white px-10 py-8 sm:p-8 rounded-lg shadow-lg w-full max-w-md overflow-hidden">
    <h1 class="text-2xl text-center mb-6">ログイン</h1>
    <%= form_with url: login_path do |f| %>
      <div class="mb-4">
        <%= f.label :email, "メールアドレス", class: 'block text-sm font-medium text-gray-700' %>
        <%= f.email_field :email, class: 'border rounded-md w-full p-2 text-sm' %>
      </div>
      <div class="mb-4">
        <%= f.label :password, "パスワード", class: 'block text-sm font-medium text-gray-700' %>
        <%= f.password_field :password, class: 'border rounded-md w-full p-2 text-sm' %>
      </div>
      <div class="mb-4">
        <%= f.submit "ログイン", class: 'w-full bg-green-500 hover:bg-green-600 text-white py-2 rounded-md transition-all duration-300' %>
      </div>
    <% end %>
    <div class="mt-4 text-center">
      <%= link_to 'パスワードを忘れた方', new_password_reset_path , class: 'text-sm text-blue-500 hover:underline' %>
    </div>
    <%= link_to auth_at_provider_path(:google), class: "inline-flex items-center gap-2 bg-white text-gray-700 border mt-6 px-4 py-2 rounded shadow hover:bg-gray-100" do %>
      <%= image_tag("google_logo.png", alt: "Google", size: "20x20") %>
      Googleでログイン
    <% end %>
  </div>
</div>