<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "More golf" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <!-- OGPタグ -->
    <meta property="og:title" content="<%= content_for?(:og_title) ? yield(:og_title) : 'More golf' %>">
    <meta property="og:description" content="<%= content_for?(:og_description) ? yield(:og_description) : 'ゴルフ投稿アプリ' %>">
    <meta property="og:image" content="<%= "#{root_url}images/default_ogp.jpg" %>">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="More golf">
    <meta name="twitter:card" content="summary_large_image">
  </head>
<!-- footerを一番したに表示させるためのもの-->
  <body class="flex flex-col min-h-screen">
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <main class="flex-grow">
      <!-- フラッシュメッセージの表示 -->
      <%= render 'shared/flash_message' %>
      <%= yield %>
    </main>
    <% if logged_in? %>
      <%= render 'shared/footer' %>
    <% else %>
      <%= render 'shared/before_login_footer' %>
    <% end %>
  </body>
</html>
