<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title><%= content_for(:title) || "More golf" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <!-- OGPタグ -->
    <meta property="og:title" content="<%= content_for?(:og_title) ? yield(:og_title) : 'More golf' %>">
    <meta property="og:description" content="<%= content_for?(:og_description) ? yield(:og_description) : 'ゴルフ投稿アプリ' %>">
    <meta property="og:image" content="<%= content_for?(:og_image) ? yield(:og_image) : "#{root_url}images/default_ogp.webp" %>">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="More golf">
    <!-- twitterカード -->
    <meta name="twitter:card" content="summary_large_image">
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
<!-- footerを一番したに表示させるためのもの-->
  <body  data-controller="loading" class="flex flex-col min-h-screen">
    <!-- ローディングアニメーション -->
    <div data-loading-target="spinner" class="fixed inset-0 z-50 flex flex-col items-center justify-center bg-white hidden">
      <div class="h-[150px] w-[150px] flex items-center justify-center">
        <span class="loading loading-spinner text-success opacity-60 w-full h-full"></span>
      </div>
      <!-- テキスト部分 -->
      <p class="mt-6  text-lg font-semibold animate-bounce">内容を更新しています...</p>
    </div>
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <main class="flex-grow">
      <!-- フラッシュメッセージの表示 -->
      <%= render 'shared/flash_message' %>
      <%= yield %>
    </main>
    <% if logged_in? %>
      <%= render 'shared/footer' %>
    <% else %>
      <%= render 'shared/before_login_footer' %>
    <% end %>
    <!-- lineで送ったURLで自動でgoogleまたはiosで開く設定にするもの -->
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const ua = navigator.userAgent.toLowerCase();

        // LINE内ブラウザ判定
        if (ua.indexOf("line") !== -1) {

          // iOS → Safari で開く
          if (/iphone|ipad|ipod/.test(ua)) {
            window.location = "https://moregolf-life.com/?openExternalBrowser=1";
          }

          // Android → Chrome で開く
          else if (/android/.test(ua)) {
            window.location = "intent://moregolf-life.com/#Intent;scheme=https;package=com.android.chrome;end";
          }
        }
      });
    </script>

  </body>
</html>
